body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
html {
  scroll-behavior: smooth;
}
/* box-sizing property is not inherited */
* {
  box-sizing: border-box; 
}

.margin-3 {
  margin: 0 3%;
  padding: 2em 0;
}
section#jq-effects div.margin-3 {
  padding-top: 0;
}

.bg-light {
  background-color: #f7f7f7;
}

.bg-dark {
  background-color: #cccccc;
}

header {
  position: relative;
/*   top: 0;
  left: 0;
  right: 0; */
  background-color: rgba( 0, 0, 0, .6 );
  color: white;
  height: 50px;
  z-index: 99;
}
#menu-button-container {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#menu-button-container:hover {
  background-color: rgba( 0, 0, 0, .8 );
}
#menu-button {
  padding: 12px 8px 8px 12px;
  font-size: 28px;
}
#btn-close-menu {
  position: absolute;
  top: 10px;
  left: 12px;
  display: none;
  font-size: 30px;
}
#close-menu-area {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; 
}
#menu-list {
  position: absolute;
  top: 50px;
  left: 0;
  width: 270px;
  height: 100vh;
  overflow: auto;
  list-style-type: none;
  margin: 0; /* for IE */
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #cccccc;
  padding: 0;
  display: none;
  z-index: 101;
  /* line-height: 1.4; */
}
#menu-list li:hover {
  background-color: #cccccc;
}
#menu-list li.active-link {
  background-color: #cccccc;
}
#menu-list a.active-link {
  background-color: #cccccc;
}
#menu-list a {
  color: black;
  text-decoration: none;
  display: block; /* so that all li area would be clickable */
  padding: 4px 12px;
}
#menu-list.menu-active {
  display: block;
  /* background-color: rgba( 0, 0, 0, .6 ); */
}
#close-menu-area.menu-active {
  display: block;
}
#menu-list.menu-active a{
  color: black;
  font-weight: bold;
}
#btn-close-menu.menu-active {
  display: block;
}
#menu-button.menu-not-active {
  display: none;
}
.menu-not-active {
  display: none;
}
h1 {
  margin-top: 0px;
}

@media only screen and (min-width: 1100px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  h1 {
    margin-top: 50px;
  }
  #menu-button-container {
    display: none;
  }
  #main {
    margin-left: 270px;
  }
  #menu-list {
    display: block;
    position: fixed;
  }
  #menu-list li:hover {
    background-color: #cccccc;
  }
  #menu-list li.active-link {
    background-color: #cccccc;
  }
  }

/* question and answer section */
#question-and-answer-container {
  max-width: 700px;
  border: 2px solid gray;
  border-bottom: none;
}
.question-and-answer {
  font-size: 100%;
  line-height: 1.6;
  border-bottom: 2px solid gray;
}
.question-and-answer ul {
  padding-inline-start: 1em;
  margin-inline-start: 1em; 
}
.question-and-answer p {
  margin: 0;
}
.question {
  text-decoration: underline;
  color: #428bca;
  background-color: #eee;
  padding: 12px 6px;
  cursor: pointer;
}
.answer {
  display: none;
  padding: 20px 8px;
}

.highlight-grey {
  background-color: rgba( 0, 0, 0, .1 );
  padding: 2px;
  border-radius: 2px;
}

#jq-toggle-color {
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

/* ToDo list */
#todolist-container {
  max-width: 700px;
  border: 2px solid gray;
}
#todolist-input-container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 2.6em;
  border-bottom: 2px solid gray;
}
#new-entry {
  flex-grow: 1; /* so that the flex-item would take all available space */
}
#add-entry-button {
  width: 60px;
  cursor: pointer;
}
#list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 0; /* for IE and Edge */
}
#list li {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 6px;
}
#list li:nth-child(odd) {
  background-color: #f9f9f9;
}
.remove-entry {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: bold;
  color: black;
  margin-left: auto;
  margin-right: 0.2em;
  cursor: pointer;
}

/* animation move from left when in viewport */
.animated-from-left {
  overflow: hidden;
  margin-left: 0;
}
@keyframes slideFromLeft {
  0% {margin-left: -400px; opacity: 0;}
  100% {margin-left: 0; opacity: 1;}
}
.active {
  animation: slideFromLeft 1.5s ease-in-out forwards;
}

/* grid */
#grid-container {
  /* for IE */
  display: -ms-grid;
  -ms-grid-columns: 150px 150px 150px 150px 150px 150px;
  
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  max-width: 650px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  grid-template-areas: 
  "item-one item-one item-two item-two item-three item-four"
  "item-one item-one item-five item-six item-six item-four"
  "item-seven item-eight item-eight item-nine item-nine item-four"
  }

.grid-container__item {
  /*width: auto;
  height: auto;*/
  background-color: blue;
}

.grid-container__item p {
  margin: 10px;
  font-weight: bold;
}

.item-one {
  grid-area: item-one;
}
.item-two {
  grid-area: item-two;
}
.item-three {
  grid-area: item-three;
}
.item-four {
  grid-area: item-four;
}
.item-five {
  grid-area: item-five;
}
.item-six {
  grid-area: item-six;
}
.item-seven {
  grid-area: item-seven;
}
.item-eight {
  grid-area: item-eight;
}
.item-nine {
  grid-area: item-nine;
}

/* #grid-container div:nth-child(1) {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
}
#grid-container div:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
}
#grid-container div:nth-child(4) {
  grid-column-start: 6;
  grid-row-start: 1;
  grid-column-end: 7;
  grid-row-end: 4;
}
#grid-container div:nth-child(6) {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 6;
  grid-row-end: 3;
}
#grid-container div:nth-child(8) {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
}
#grid-container div:nth-child(9) {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-column-end: 6;
  grid-row-end: 4;
}
#grid-container div:nth-child() {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
}
 */

/* @media only screen and (min-width: 700px) and (max-width: 900px) {
  #grid-container {
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
    font-size: 12px;
  }
} */
@media only screen and (max-width: 700px) {
  #grid-container {
    font-size: 12px;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 50px);  
    grid-template-areas: 
    "item-one"
    "item-two"
    "item-three"
    "item-four"
    "item-five"
    "item-six"
    "item-seven"
    "item-eight"
    "item-nine"
  }
}

/* flex image gallery */
#img-gallery-container {
  position: relative;
  overflow: hidden; /* so the moving images will not be visible from the left side of container */
  width: 90vw;
  height: 40vw;
  max-width: 700px;
  max-height: 200px;
  border: 4px solid blue;
}
#img-gallery {
  display: flex;
  position: absolute;
  z-index: 97;
  height: 40vw;
  max-height: 200px;
  /* padding: 14px; */
  overflow: hidden;
  cursor: pointer;
}
#img-gallery img {
  width: auto;
  height: 40vw;
  max-width: auto;
  max-height: 200px;
  padding: 0 2px 0 0;
  /* object-fit: contain; this property is used to keep ratio of flex items */
}
#arrow-forwards {
  position: absolute;
  right: 0;
  top: 40%;
  font-weight: 900;
  font-size: 200%;
  background-color: rgba( 0, 0, 0, .7 );
  color: white;
  height: 50px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  z-index: 98;
}
#arrow-backwards {
  position: absolute;
  left: 0;
  top: 40%;
  font-weight: 900;
  font-size: 200%;
  background-color: rgba( 0, 0, 0, .7 );
  color: white;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  z-index: 98;
}

/* modal */
.modal-hidden {
  display: none;
}
.modal-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* right: 0;
  bottom: 0; */
  background-color: rgba( 0, 0, 0, .9 );
  z-index: 102;
}
#container__btn-close-modal {
  margin: 1%;
  text-align: right;
}
#btn-close-modal {
  color: white;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}
#modal-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 70vh;
  max-height: 70vh;
  margin: auto;
  /* border: 2px solid white; */
}
#modal-image {
  color: white;
  /* border: 2px solid white; */
  /* position: relative; */
  /* width: 90vw; */
  height: 70vh;
  /* max-width: 90vw; */
  max-height: 70vh;
}
.modal-active img {
  display: none;
  /* max-height: 70vh; */
}
img.image-active {
  display: inline-block;
  /* position: absolute; there is no need to position this elements, since all not active elements have display: none, they do not take any space in the page layout
  top: 0;
  left: 0; */
  /* width: 100%; */
  height: auto;
  max-width: 100%;
  max-height: 70vh;
  vertical-align: baseline; /* removes extra 4px below image */
}
#modal-arrow-backwards, #modal-arrow-forwards {
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* slideshow image gallery */
#slideshow {
  max-width: 640px;
  overflow: hidden;
}
#slideshow__main-image img {
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 420px;
}
#slideshow__gallery {
  position: relative;
}
#slideshow__gallery__container {
  display: flex;
  display: -ms-flex;
  height: calc(420px/4);
}
#slideshow__gallery img {
/*   width: 100%;
  height: auto; */
  max-width: calc(640px/4);
  padding-right: 2px;
  cursor: pointer;
}
#slideshow__gallery img:hover {
  opacity: 0.8;
}
#arrow-previous, #arrow-next {
  position: absolute;
  top: 40%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  color: white;
  z-index: 98;
  cursor: pointer;
}
#arrow-previous {
  left: 4px;
}
#arrow-next{
  right: 4px;
}
@media only screen and (max-width: 700px), screen and (max-height: 500px) {
  #slideshow {
    width: 300px;
  }
}

/* carousel */
#carousel-container {
  position: relative;
  max-width: 640px;
  max-height: 420px;
}
.carousel-container__item {
  max-width: 640px;
  max-height: 420px;
  visibility: hidden;
}
.carousel-container__item--absolute {
  position: absolute;
  top: 0;
  left: 0;
}
#carousel-container img {
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 420px;
  vertical-align: bottom;
  }
.carousel-image-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba( 0, 0, 0, .4 );
}
.carousel-image-info p {
  margin: 1em;
}
.carousel-image-info a {
  color: white;
}
#carousel-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14px;
}
.carousel-nav__item {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}
.carousel-nav__item:hover, .carousel-nav__item-active {
  background-color: white;
}
.carousel-item-active {
  visibility: visible;
}

/* tab panels */
#tab-panels {
  width: 90vw;
  /* height: auto; */
  max-width: 700px;
}
#panel-name-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#panel-name-list li {
  display: inline-block;
  position: relative;
  background-color: #cccccc;
  border: 2px solid #808080;
  padding: 6px;
  margin-bottom: -2px;
  font-weight: bold;
  z-index: 98;
}
#panel-name-list li:hover {
  background-color: white;
}
#panels-container {
  position: relative;
  line-height: 1;
  height: 18em;
  border: 2px solid #808080;
}
#panels-container div {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 0 1em;
}
#panels-container div.panel-active {
  display: block;
}
#panel-name-list li.panel-name-active {
  border-bottom: #f7f7f7;
  background-color: #f7f7f7;
}
@media only screen and (max-width: 400px) {
  #panels-container {
    height: 22em;
  }
}

#btn-to-top {
  position: fixed;
  right: 4%;
  bottom: 4%;
  /* width: 30px; */
  height: 40px;
  background-color: rgba( 0, 0, 0, .4 );
  display: none;
  z-index: 99;
  }
#btn-to-top a {
  text-decoration: none;
  color: white;
  display: inline-block;
  /* height: 40px; */
}
#btn-to-top__animated a {
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}
#btn-to-top i {
  font-size: 37px;
}
#btn-to-top div {
  height: 40px;
  text-align: center;
}
#btn-to-top.btn-to-top-active {
  display: flex;
}
#btn-to-top__fixed {
  width: 40px;
  border: 2px solid black;
}
#btn-to-top__animated {
  width: 0;
  display: none;
    /* opacity: 0; */
  border: 2px solid black;
  border-right: none;
}
